@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
.pokedexContainer {
    border: 1px solid #333;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 400px;
    margin: auto;

    .content {
        flex-grow: 1;
        margin: 0 ;
        overflow-y: scroll;

        >div:not(.hasLoad) {
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}
button {
    background-color: transparent;
    border: 0;

    &.loadMore {
        text-align: center;
        background-color: #ccc;
        margin: 0 auto;
        display: block;
        padding: 5px 15px;
        border-radius: 4px;
        font-size: 14px;
    }
}

.hasLoad {
    padding-bottom: 30px;
}