@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
.pokedexContainer {
    border: 1px solid #333;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .content {
        flex-grow: 1;
        margin: 0 ;
        overflow-y: scroll;

        >div {
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}
button {
    background-color: transparent;
    border: 0;
}