header {
    button {
        img {
            width: 20px;
        }
    }

    h1 {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
    }
}
header {
    background-color: #b30000;
}