footer {
    padding: 5px;
    background-color: #b30000;

    >div {
        display: flex;
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        color: #fff;

        input {
            border: 0;
            padding: 0 10px;
            height: 30px;
            font-size: 13px;
        }

        button {
            padding-right: 10px;
            background-color: #fff;
            img {
                width: 15px;
            }
        }
    }
}